*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: red;*/
}

@font-face {
    font-family: "Elfin-Normal";
    src: url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.eot");
    src: url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7ea931b3f295d073ac6a4f2b4cb51aec.svg#Elfin-Normal")format("svg");
}

body {
    font-family: 'Elfin-Normal', sans-serif;
    /* Otras reglas de estilo para el cuerpo del documento */
}

header{
    background: url(img/foto-1.png) no-repeat top;
    background-position-x: 76%;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    height: 600px;
    margin: 0;
}

.contenido-header{
    position: relative;
    top: 60vh;
    text-align: center;
    color: white;
}

.asistencia-y-regalo{
    padding-bottom: 80px;
}

h1{
    font-family: "Elfin-Normal";
    font-size: 90px;
    font-weight:lighter;
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.3s;
}

h2{
    font-family: "Elfin-Normal";
    font-size: 70px;
    font-weight:lighter;
    text-align: center;
    padding-bottom: 50px;
}

.titulo-seccion h2{
    font-family: "Elfin-Normal";
    font-size: 70px;
    font-weight:lighter;
    text-align: center;
    padding-bottom: 50px;
}

.break h2{
    line-height: 0.5em;
    padding-top: 50px;
}

.titulo-asistencia, .titulo-regalo{
    padding-bottom: 30px;
}

.titulo-regalo{
    padding-top: 80px;
}

.civil h3, .ameli h3{
    padding-bottom: 9px;
    font-family: "Elfin-Normal";
    font-weight: lighter;
    font-size: 45px;
}

.contenido-header p{
    font-family: "minion-3-caption", serif;
    font-size: 18px;
    font-weight:lighter;
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
}

@keyframes fadeInTop {
    0%{
        transform: translateY(-50px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

.fondo{
    background: url(img/fondo-lading.png) fixed;
    width: 100%;
    background-size: cover;
    padding: 0 20% 0 20%;
}

.timeline ul li{
    position: relative;
    width: 1px;
    margin: 0 auto;
    background-color: black;
    list-style: none;
}

.contenido-civil,
.contenido-ameli,
.contenido-juegos,
.contenido-comida,
.contenido-brindis,
.contenido-torta,
.contenido-ezeiza,
.contenido-madrid{
    position: relative;
    width: 1px;
    margin: 0 auto;
    background-color: black;
}

.contenido-torta-flex{
    justify-content: flex-end;
}

.contenido-civil::before,
.contenido-ameli::before,
.contenido-juegos::before,
.contenido-comida::before,
.contenido-comida::before,
.contenido-brindis::before,
.contenido-torta::before,
.contenido-ezeiza::before,
.contenido-madrid::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}


.contenido-civil div{
    margin-left: 15px;
}

.contenido-juegos-margin,
.contenido-brindis-margin{
    margin-left: 25px;
}

.contenido-civil div div{
    margin-left: 0;
}

.contenido-civil-flex,
.contenido-juegos-flex,
.contenido-ezeiza-flex{
    width: fit-content;
    display: flex;
    align-items: center;
    
}

.contenido-ezeiza-flex{
    align-items: flex-start;
}


.contenido-ameli-flex,
.contenido-comida-flex,
.contenido-torta-flex,
.contenido-madrid-flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.contenido-madrid-flex{
    flex-direction: row;
    justify-content: flex-end;
}

.contenido-brindis-flex{
    width: fit-content;
    display: flex;
    align-items: flex-start;
}

.break p{
    padding: 50px 0px 50px 0px;
    font-family: "Elfin-Normal";
    font-weight: lighter;
    font-size: 45px;
    text-align: center;
}

.contenido-happily p{
    font-family: "Elfin-Normal";
    font-weight: lighter;
    font-size: 45px;
    text-align: center;
}

.contenido-happily{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.ameli, .comida, .torta, .madrid{
    left: -170px;
}

.timeline ul li:nth-child(even) .box{
    left: 30px;
}

.timeline ul li:nth-child(odd) .box{
    left: -170px;
}

.timeline ul li i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box{
    position: relative;
    bottom: 0;
    width: 150px;
    height: 80px;
}

.cronograma-section{
    padding: 80px 0 80px;
}

.cronograma-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.cronograma-item{
    padding-bottom: 20px;
    max-width: 100%;
}

h3{
    font-family: "minion-3-caption", serif;
    font-weight: 700;
    font-style: italic;
}

.contenido-torta-flex div{
    margin-right: 20px;
}

.regalo, .asistencia {
    text-align: center;
    font-family: "minion-3-caption", serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1em;
    font-size: 20px;
    width: 300px;
}

.asistencia-y-regalo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.civil, .ameli, .ezeiza, .madrid p{
    font-family: "minion-3-caption", serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1em;
}

.ezeiza p{
    margin-top: 9px;
}

.civil,
.ezeiza,
.brindis{
    min-width: 110px;
}

.happily {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button a, button{
    color: white;
    text-decoration: none;
    font-family: "minion-3-caption", serif;
    font-style: italic;
}

button{
    background-color: black;
    padding: 5px 10px 5px 10px;
    border: none;
    margin-top: 9px;
}

/*modal*/

/* Estilo para el botón de abrir el modal */

.modal-contenido h2{
    font-family: "Elfin-Normal";
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.modal-contenido h3{
    padding: 10px 0px 10px 0px;
}
#abrir-modal {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 9px;
    cursor: pointer;
}

/* Estilo para la ventana modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

/* Estilo para el contenido de la ventana modal */
.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    text-align: center;
}

/* Estilo para el botón de cerrar el modal */
.cerrar-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el botón de cerrar dentro del modal */
#cerrar-modal {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.modal-contenido div{
    margin-bottom: 20px;
}



i img{
    max-height: 35px;
    max-width: 35px;
}

.anillos,
.brindis-icono,
.ezeiza-icono,
.juegos-icono{
    margin-right: 10px;
}

.cena-icono{
    margin-left: 10px;
}

.juegos-icono{
    margin-top: 7px;
}

.madrid-icono{
    margin-left: 10px;
}

.p-cbu{
    margin: 0px 0 20px 0;
}
